p {
  margin: 0;
}

.wrapper {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 225px);
  display: flex;
  width: 450px;
  height: 180px;
  background-color: rgb(160, 125, 96);
  flex-wrap: nowrap;
  resize: both;
  overflow: hidden;
}

img {
  margin: 5px;
  box-sizing: border-box;
  flex: 0 0 auto;
}

.info {
  display: flex;
  margin: 0 20px;
  box-sizing: border-box;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.info>div:first-child {
  flex: 1 1 20%;
  align-items: center;
}

.info>div:last-child {
  flex: 1 1 80%;
  align-items: flex-start;
}

.info>div {
  padding-top: 20px;
  display: flex;
}

.text-name-wrap {
  color: rgb(255, 255, 255);
  font-size: 27px;
}

.text-info-wrap {
  color: rgb(212, 197, 183);
}