* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 400px;
  margin: 100px auto 0;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container .search-layer {
  margin-bottom: 20px;
}

.container .search-layer input {
  width: 230px;
  height: 25px;
  padding-left: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
}

.container .search-layer span {
  padding: 0 5px;
  color: #3c8dff;
  border-radius: 4px;
  cursor: pointer;
}

.container .search-layer .active {
  color: #fff;
  background-color: #3c8dff;
}

.container .friend-list ul li {
  position: relative;
  padding: 10px 0 10px 50px;
  border-bottom: 1px solid #999
}

.container .friend-list ul li img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 40px;
  height: 40px;
}

.container .friend-list ul li .name {
  margin-bottom: 10px;
}

.container .friend-list ul li .des {
  font-size: 12px;
  color: #666;
}