:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 350px;
  margin: -175px 0 0 -100px;
  border: 1px solid #999;
}

.wrapper span/* :first-of-type */ {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

.wrapper a/* :nth-child(2n) */ {
  display: block;
  width: 200px;
  color: #fff;
  text-decoration: none;
  background-color: darkkhaki;
  border-radius: 3px;
}

.wrapper div/* :nth-child(2n+1) */ {
  border-bottom: 1px solid #999;
}

.text:not(:target) {
  display: none;
}