* {
  margin: 0;
  padding: 0;
}

/* @keyframes round {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.clock,
.minute,
.second {
  position: absolute;
}

.minute {
  left: 237px;
  top: 240px;
  transform-origin: 17px 16px;
  transform: rotate(-180deg);
  animation: round 3600s linear infinite;
}

.second {
  left: 246px;
  top: 179px;
  transform-origin: 8px 77px;
  transform: rotate(-180deg);
  animation: round 60s linear infinite;
} */

@keyframes round {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.clock {
  position: relative;
  width: 512px;
  height: 512px;
  background-image: url(img/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.second {
  position: absolute;
  left: 247px;
  top: 180px;
  width: 16px;
  height: 278px;
  background-image: url(img/second.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center 77px;
  transform: rotate(-180deg);
  animation: round 60s cubic-bezier(0, 0, 1, 1) infinite;
  z-index: 3;
}

.minute {
  position: absolute;
  left: 238px;
  top: 240px;
  width: 32px;
  height: 218px;
  background-image: url(img/minute.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center 16px;
  transform: rotate(-180deg);
  animation: round 3600s cubic-bezier(0, 0, 1, 1) infinite;
  z-index: 2;
}

.hour {
  position: absolute;
  left: 238px;
  top: 240px;
  width: 32px;
  height: 148px;
  background-image: url(img/hour.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center 16px;
  transform: rotate(-180deg);
  animation: round 216000s cubic-bezier(0, 0, 1, 1) infinite;
  z-index: 1;
}